common --enable_bzlmod
common --registry=https://raw.githubusercontent.com/antonovvk/bazel-central-registry/rules_boost/

build --cxxopt='-std=c++17'
test --cxxopt='-std=c++17'

build --experimental_cc_shared_library
test --experimental_cc_shared_library
test --genrule_strategy=standalone
test --spawn_strategy=standalone
test --test_output=all
